@font-face{
    font-weight: normal;
    font-style: normal;
    font-family: 'Gilroy';
    font-display: swap;
    src:
        local('Gilroy'),
        url('fonts/gilroy-regular-webfont.woff') format(woff),
        url('fonts/gilroy-regular-webfont.woff2') format(woff2)
}

@font-face{
    font-weight: bold;
    font-style: normal;
    font-family: 'Gilroy';
    font-display: swap;
    src:
        local('Gilroy'),
        url('fonts/gilroy-bold-webfont.woff') format(woff),
        url('fonts/gilroy-regular-webfont.woff2') format(woff2)
}

